{% extends 'layout.twig' %}

{% block content %}



<div class="container">
    <div class="login-box-body">

      {% for message in messages %}
        <div class="alert alert-info">
        <li>{{ message[0] }}</li>
        </div>
      {% endfor %}


            <p class="login-box-msg">Infome seu Email cadastrado</p>
            <div class="form-group">
              <form name="" id="loginForm" action="/updatesenha" method="post">

                <div class="form-group has-feedback">
                  <!----- senha -------------->
                  <input class="form-control" placeholder="senha" type="password" autocomplete="on" name="senha"/>
                </div>
                
                <div class="form-group has-feedback">
                  <!----- reptsenha -------------->
                <input class="form-control" placeholder="repetsenha" type="password" autocomplete="on" name="repetsenha"/>
                </div>
                
                
                <div class="form-group has-feedback">
                  <!----- reptsenha -------------->
                <input class="form-control"  type="hidden" autocomplete="on" name="tk" value="{{_GET['tk']}}"/>
                </div>

                
                <div class="row">
                <div class="col-sm-12">
                <input type="submit" class="btn btn-green" value="Enviar">
                
                </div>
                </div>

                </div>
              </form>
            </div>
          </div>

     
    </div>
  </div>

{% endblock  %}