{% extends 'layout.twig' %}

{% block content %}



<div class="container">
    <div class="row">
         <div class="col m12 s3 12">
           {% for message in messages %}
             <div class="alert alert-info">
             <li>{{ message[0] }}</li>
             </div>
           {% endfor %}
           
          <p class=" center-align"><img src="public/img/cadeado1.png" class="responsive-img"></p>
         </div>
              <form name="" action="/login" method="post">
                <div class="row">
                 <div class="col m12 s12 12">
                  <input  placeholder="E-mail"  type="email"  name="email" value=""/>
                  <label>Email</label>
                </div>
              </div>

                <div class="row">
                  <div class="col m12 s12 12">
                  <input  placeholder="Password" type="password"  name="senha"/>
                  <label>Password</label>
                </div>
              </div>

                <div class="row">
                <div class="col m12 s12 12">
                <button type="submit" class="icon-login btn waves-effect waves-light btn-small" name="submit">
                  <i class=" material-icons">fingerprint</i>
                </button>

                <a href="/CardCliente">
                  <button type="reset" class="icon-clear btn waves-effect waves-light btn-small">
                    <i class="material-icons">clear</i>
                    </button>
                </a>

                <a href="/recu_form">
                  <button type="button" class="icon-reset btn waves-effect waves-light btn-small">senha
                    <i class="material-icons right">vpn_lock</i>

                    </button>
                </a>
                </div>
              </div>
              </form>
          </div>


    </div>


{% endblock  %}
