{% extends 'layout.twig' %}

{% block content %}



<div class="container">
    <div class="row">
         <div class="col m12 s3 12">
          <p class=" center-align"><img src="public/img/cadeado1.png" class="responsive-img"></p>
         </div>
              <form name="" action="/login" method="post">
                <div class="row">
                 <div class="col m12 s12 12">
                  <input  placeholder="E-mail"  type="email"  name="email" value=""/>
                  <label>Email</label>
                </div>
              </div>

                <div class="row">
                  <div class="col m12 s12 12">
                  <input  placeholder="Password" type="password"  name="senha"/>
                  <label>Password</label>
                </div>
              </div>

                <div class="row">
                <div class="col m12 s12 12">
                <button type="submit" class="btn waves-effect waves-light" value=""/>login
                  <i class="material-icons right">fingerprint</i>
                </button>

                <a href="/CardCliente">
                  <button type="reset" class="btn waves-effect waves-light">clear
                    <i class="material-icons right">clear</i> 
                    </button>
                </a>

                <a href="/recu_form">
                  <button type="button" class="btn waves-effect waves-light">senha
                    <i class="material-icons right">vpn_lock</i>
                      
                    </button>
                </a>
                </div>
              </div>
              </form>
          </div>

     
    </div>


{% endblock  %}