{% extends 'layout.twig' %}

{% block content %}



<div class="container">
    <div class="login-box-body">

      {% for message in messages %}
        <div class="alert alert-danger">
        <li>{{ message[0] }}</li>
        </div>
      {% endfor %}


            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group">
              <form name="" id="loginForm" action="/login" method="post">

                <div class="form-group has-feedback">
                  <!----- username -------------->
                  <input class="form-control" placeholder="E-mail" id="loginid" type="email" autocomplete="off" name="email" value=""/>
                </div>

                <div class="form-group has-feedback">
                  <!----- password -------------->
                  <input class="form-control" placeholder="Password" id="loginpsw" type="password" autocomplete="off" name="senha"/>

                </div>
                <div class="row">
                <div class="col-sm-12">
                <input type="submit" class="btn btn-green" value="Login">
                <a href="/CardCliente">
                  <button type="button" class="btn btn-warning"><i class="icon ion-md-contacts"></i></button>
                </a>

                <a href="/recu_form">
                  <button type="button" class="btn btn-danger"><i class="icon ion-ios-key" size="large"></i></button>
                </a>
                </div>
                </div>

                </div>
              </form>
            </div>
          </div>

     
    </div>
  </div>

{% endblock  %}