
<section id="banner" class="section-padding">
<div class="banner">
    <div class="bg-color">
        <div class="row-fluid">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Serviço & Qualidade</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Sistemas web , Sites</p>
              <p class="small-text">Construimos a sua marca</p>
              <a href="#feature" class="btn get-quote"><img src="/public/img/pizza.png"></a>
            </div>
            <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>

  </div>
</section>