

    <div id="modal1" class="modal">
    <div class="modal-content">
      <h6>Sejam bem vindos</h6>
      
      <form class="col s8" action="/login" method="post">
        <div class="input-field col s8">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s8">
          <input id="password" type="password" class="validate" name="senha">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s8">

        <button class="icon-login btn waves-effect waves-light btn-small" type="submit" name="submit">
          <i class="material-icons">fingerprint</i>
        </button>
        <button class="icon-clear btn waves-effect waves-light btn-small" type="reset" name="action">
         <i class="material-icons">clear</i>
        </button>
        <a href="/recu_form" class="icon-reset btn waves-effect waves-light btn-small" type="reset" name="action">reset</a>

        </div>

        <div class="input-field col s8">
          <a href="#" class="icon-new-user">Cadastrar</a> 
        </div>
    </form>
    </div>
    
  </div>


    
