

    <div id="modal1" class="modal">
    <div class="modal-content">
      <h6><i class="material-icons right">vpn_key</i> Sejam bem vindos</h6>
      
      <form class="col s8" action="/login" method="post">
        <div class="input-field col s8">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s8">
          <input id="password" type="password" class="validate" name="senha">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s8">

        <button class="btn waves-effect waves-light btn-small" type="submit" name="submit">login</button>
        <button class="btn waves-effect waves-light btn-small" type="reset" name="action">clear</button>
        <a href="/recu_form" class="btn waves-effect waves-light btn-small" type="reset" name="action">reset password</a>

        </div>
    </form>
    </div>
    
  </div>


    
