<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content no 1-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title">Login</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group">
              <form name="" id="loginForm" action="/login" method="post">

                <div class="form-group has-feedback">
                  <!----- username -------------->
                  <input class="form-control" placeholder="Username" id="loginid" type="text" autocomplete="off" name="email" value=""/>

                  <!---Alredy exists  ! -->
                  <span class=""></span>
                </div>

                <div class="form-group has-feedback">
                  <!----- password -------------->
                  <input class="form-control" placeholder="Password" id="loginpsw" type="password" autocomplete="off" name="senha"/>

                  <!---Alredy exists  ! -->
                  <span class=""></span>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="checkbox icheck">

                    </div>
                    <a href="/recu_form">Esquecie a senha</a>
                    <a href="/InserCliente">Cadastro</a>
                  </div>
                  <div class="col-xs-12">
                    <input type="submit" class="btn btn-green btn-block btn-flat" value="Sign In">

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>