 
 
 <ul id="dropdown1" class="dropdown-content">
  <li><a href="/newuser">User</a></li>
  <li><a href="/formbebida">Produto</a></li>
  <li class="divider"></li> 
  <li><a href="/index">Cardapio</a></li>
</ul>


<ul id="dropdown2" class="dropdown-content">
  <li><a href="/newuser">User</a></li>
  <li><a href="/formbebida">Produtos</a></li>
  <li class="divider"></li>
  <li><a href="/index">Cardapio</a></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">pizza<i class="material-icons white-text darken-1">local_pizza</i></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text darken-1">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            New<i class="material-icons right"></i>
          </a>
          </li>
        <li><a href="/logout">Exit</a></li>
      </ul>
    </div>
  </nav>
</div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
        <li><a href="#">Home</a></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown2">
            New<i class="material-icons right"></i>
          </a>
        </li>
         <li><a href="/logout">Exit</a></li>
  </ul>
