

            
   <nav class=" orange darken-4">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="#">Finalizar Pedidos</a></li>
        <li><a href="/logout">Exit</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/logout">Contact</a></li>
       
  </ul>
            