<nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="text-center text-dark">
                <i class="icon ion-md-person text-dark"></i>{{ session.user }}
                </h3>

                <strong>DP</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="icon ion-md-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-plus"></i>
                        Create
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/formbebida"> New Produto</a>
                        </li>
                        <li>
                            <a href="#">New Pizza</a>
                        </li>
                        <li>
                            <a href="/newuser">New User</a>
                        </li>
                    </ul>
                </li>

                <li>

                    <a href="#pageupdate" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-plus"></i>
                        Update
                    </a>
                    <ul class="collapse list-unstyled" id="pageupdate">
                        <li>
                            <a href="/listaruser">Users</a>
                        </li>
                        <li>
                            <a href="/produtos">Produtos</a>
                        </li>
                        <li>
                            <a href="/newuser">New User</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>
            </ul>

            
        </nav>
        
         
         <div id="content">
         <nav class="navbar navbar-expand-lg navbar-default navbarhome shadow p-3 mb-5 bg-white rounded">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="icon ion-md-menu"></i>
                        <span>	</span>
                    </button>
                    

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home"><i class="icon ion-md-home"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout"><i class="icon ion-md-exit"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            