<div class="modal fade" id="updateUser" role="dialog">

    <div class="modal-dialog modal-lg">

      <!-- Modal content no 1-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title">Login</h4>
        </div>
        <div class="modal-body padtrbl">

          <div class="login-box-body">
            <p class="login-box-msg">Update User{{user.Id}}</p>
            <div class="form-group">
              <form name="" id="loginForm" action="/updateuserId" method="post">

              <div class="form-group has-feedback">
                
                  <!--id-->
                  <input class="form-control" id="id" type="text" autocomplete="off" name="id"/>
                  
                </div>

                <div class="form-group has-feedback">
                
                  <!----- username -------------->
                  <input class="form-control"  id="email" type="text" autocomplete="off" name="email"/>
                  
                </div>
                <div class="form-group has-feedback">
                  <!--typeUser-->

                 <select class="form-control" name="typeuser" requered="">
                  <option value="">TypeUser</option>
                  <option value="admin">Administrador</option>
                  <option value="cliente">Cliente</option>

                 </select>
                  
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="checkbox icheck">
                      
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <input type="submit" class="btn btn-green btn-block btn-flat" value="Sign In">

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>