{% extends 'layout.twig' %}

{% block content %}

{% include 'partials/banner.twig'%}


   
      <div class="row">
        <h3>Chego ja</h3>
        <div class="col s4 m4 12">
          <div class="col-lg-4">
             <img src="public/img/delivery.jpg" class="responsive-img">
          </div>
        </div>

        <div class="col s12 m8 12">
            <p class="">
            É um fato há muito estabelecido que um leitor se distrairá com o conteúdo legível de uma página ao analisar seu layout. O ponto de usar o Lorem Ipsum é que ele tem uma distribuição de letras mais ou menos normal, ao invés de usar 'Conteúdo aqui, conteúdo aqui', fazendo com que pareça legível em inglês. Muitos editores de editoração eletrônica e editores de páginas da web agora usam o Lorem Ipsum como seu texto de modelo padrão, e uma pesquisa por 'lorem ipsum' descobrirá muitos sites ainda na sua infância. Várias versões evoluíram ao longo dos anos, às vezes por acidente, às vezes de propósito (humor injetado e coisas do gênero).
            </p>
         
        </div>
      </div>
   
 

{% include 'partials/footer.twig' %}
{% endblock %}
