{% extends 'layout.twig' %}

{% block content %}

<div class="container">
<div class="row">
  <div class="col s10 m7 19">
    {% for message in messages %}
        <div class="alert alert-success">
        <li>{{ message[0] }}</li>
        </div>
    {% endfor %}

  </div>
  
<form action="/InserCliente" method="POST" class="col s12 m12 19">
<div class="row">
<div class="col s10 m7 19">
  <h3>Novo Cliente</h3>
    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32
  </p>
</div>
</div>
<div class="row">
  <div class="col s12 m12 19">
    <input type="text" class="form-control" name="nome"  placeholder="Nome"  required="obrigatorio"/>
    <label>Nomes</label>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 19">
    <input type="email" class="form-control" name="email" id="name" placeholder="email"  required="obrigatorio"/>
    <label>Email</label>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 19">
    <input type="hidden" class="form-control" name="typeUser" value="cliente" required="obrigatorio"/>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 19">
    <input type="password"  name="senha"  placeholder="senha" required="obrigatorio"/>
    <label>Senah</label>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 19">
      <input type="password"  name="repetsenha"  placeholder="repet senha" required="obrigatorio" />
      <label>Repetir a senha</label>
</div>
</div>

<div class="row">
  <div class="col s12 m12 19">
    <button type="submit" class="btn waves-effect waves-light btn-small">Enviar</button>
    <button type="reset"  class="btn waves-effect waves-light btn-small">Limpar</button>
    <a href="#"  class="btn waves-effect waves-light btn-small">Ja sou Cadastrado</a>
  </div>
</div>



{% endblock  %}
