{% extends 'layout.twig' %}


{% block content %}
    
   
   {% for message in messages %}
    <div class="alert alert-danger">
    <li>{{ message[0] }}</li>
    </div>
    {% endfor %}

<section id="feature" class="section-padding">
    <div class="container fluid">
       <h3 class="text-center">Cardapio</h3>
     <div class="row top">
        <div class="col-md-7">

          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card text-left">
            <div class="card-body">
               <img src="public/img/pizza1.jpeg">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
        <div class="row top">
        <div class="col-md-7">
          <div class="card text-left">
            <div class="card-body">
               <img src="public/img/pizza1.jpeg">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
               <img src="public/img/pizza1.jpeg">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock %}