{% extends 'layout.twig' %}


{% block content %}
    
   
   {% for message in messages %}
    <div class="alert alert-danger">
    <li>{{ message[0] }}</li>
    </div>
    {% endfor %}

<!--Serviço-->
    <section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Meus Servirços</h2>
          <p>Temos as melhores ofertas e serviços para você e a sua empresa ,  desenvolvimos de sistemas web como,
            sites , blogs tambem é possivel adaptar o seu site para  dispositivos movies com responsividade ,   
              inovamos a sua marca deixamos tudo mais atraente e intuitivo</a>
          <hr class="bottom-line">
        </div>
        <div class="col-md-12>

        <div class="card" style="width: 18rem;">
    				<img class="card-img-top" src="public/img/pizza1.jpeg" alt="Card image cap">
    				    <div class="card-body">
    					<h5 class="card-title">Monitor</h5>
    					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    					<a href="#" class="btn btn-primary">Mais Detalhes</a>
				      </div>
			</div>


       <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="public/img/pizza1.jpeg" alt="Card image cap">
                <div class="card-body">
              <h5 class="card-title">Monitor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Mais Detalhes</a>
              </div>
      </div>

       <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="public/img/pizza1.jpeg" alt="Card image cap">
                <div class="card-body">
              <h5 class="card-title">Monitor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Mais Detalhes</a>
              </div>
      </div>
        </div>
      </div>

    </div>
  </section>

<!-Sobre--->
 
 <section id="organisations" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="col-lg-4">
             <img src="public/img/mardonis.jpg"  class="img-rounded" height="320px">
          </div>
        </div>

        <div class="col-md-8">
          <div class="detail-info">
            <hgroup>
              <h3 class="det-txt">Graduação Tecnologica em ADS</h3>
              <h4 class="sm-txt">(Ano de Formação 2018 Faculdade Estácio.)</h4>
            </hgroup>
            <p class="det-p">
            Meu nome é Mardonis Alves Bezerra tecnologo analista e
            desenvolvedor web com php mysql ,postgresql ,css3 ,html.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-Contato-->

<section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Contact Us</h2>
          <p>Entre em contato para fazer um orçamento e tirar as suas duvidas,
          <br>Maiores informações no telefone:989578193 ou email: mardonisgp@gmail.com</p>
          <hr class="bottom-line">
        </div>
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="/hometeste" method="post" role="form" class="contactForm">
          <div class="col-md-6 col-sm-6 col-xs-12 left">
            <div class="form-group">
              <input type="text" name="name" class="form-control form" id="name" placeholder="Seu Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>

            <div class="form-group">
              <input type="telefone" class="form-control" name="telefone" id="telefone" placeholder="Seu Telefone" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 right">
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <!-- Button -->
            <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light">SEND EMAIL</button>
          </div>
        </form>

      </div>
    </div>
  </section>

{% endblock %}