{% extends 'layout.twig' %}


{% block content %}
    
   {% include 'partials/banner.twig'%}

   
   {% for message in messages %}
    <div class="alert alert-danger">
    <li>{{ message[0] }}</li>
    </div>
    {% endfor %}


    <div class="container">
       <h3 class="text-center">Cardapio</h3>
      <div class="row">
     {% for allcardapios in allcardapio %}
         
            <div class="col s4">
              <div class="card">
                <div class="card-image">
                <img src="{{allcardapios.urlimg}}" class="card-img">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
                <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
        </div>
      </div>
   
      {% endfor %}

</div>
</div>
  
{% include 'partials/footer.twig' %}
{% endblock %}