<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sistema delivery pizza completo para o seu ponto de vendas fast food,Pitzzarias ,Restaurantes , Gerenciamento e fluxo de caixa , Relatórios de contas  a pagar e receber">
        <meta name="keywords" content="pizza,fast food,comida,pizza cocacola,pizza queijo,pizza mista,pizza oregano,tomate,pizza pacatuba-ce">
        <meta name="robots" content="">
        <meta name="revisit-after" content="1 day">
        <meta name="language" content="pt-br">
        <meta name="generator" content="N/A">
        <title>Delivery Pitzza</title>


  

  <link rel="stylesheet" type="text/css" href="public/css/front-style-materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" href="public/css/materialize.css">-->
  <link rel="stylesheet" type="text/css" href="public/site/materialize.css">



    </head>
    <body>
            {% include 'partials/login.twig' %}
           
            {% include 'partials/nav.twig' %}


            {% block content %} 

            {% endblock %}
        


<script src="public/js/jquery.min.js"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/ajax.js"></script>
    </body>
</html>
