<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Delivery Pitzza</title>

        {# Google fonts:Open Sans #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>



    <link href="public/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/imagehover.min.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/style.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css">

    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/custom.js"></script>
    <script src="public/js/jquery.easing.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142447713-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142447713-1');
    </script>


    </head>
    <body>
            {% include 'partial/login.twig' %}
            {% include 'partial/Cadmodal.twig' %}
            {% include 'partials/nav.twig' %}

<div class="container-fluid">
<div class="banner">
    <div class="bg-color">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Serviço & Qualidade</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Sistemas web , Sites</p>
              <p class="small-text">Construimos a sua marca</p>
              <a href="#feature" class="btn get-quote">O que Fazemos</a>
            </div>
            <a href="#feature" class="mouse-hover">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
            {% block content %} 

            {% endblock %}


            {% include 'partials/footer.twig' %}


    </body>
</html>
