<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
    <link rel="stylesheet" type="text/css" href="public/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/front-style-materialize.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
    <script src="public/js/jquery.dataTables.min.js"></script> 
    <script src="public/js/dataTables.material.min.js"></script> 
    <script src="public/js/materialize.js"></script> 
    <script src="public/js/ajax.js"></script>
    <script type="text/javascript">
    function func(){
    $(document).ready(function(){
    $('#example').DataTable({
        columnDefs: [
            {
                targets: [ 0, 1],
                className: 'mdl-data-table__cell--non-numeric'
            }
        ]
    });
});
}
 func();
</script>
</head> 
<body>

        <div class="wrapper">
            
            {% include 'partials/navAdmin.twig' %}

            {% block content %}
               
            {% endblock %}
        

        </div>
    

    </body>


</html>