<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/front-style-materialize.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.material.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/ajax.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
    $('#example').DataTable({
        columnDefs: [
            {
                targets: [ 0, 1 , 2  ],
                className: 'mdl-data-table__cell--non-numeric'
            }
        ]
    });
});


$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            console.log(optionValue);


            if(optionValue == "pizzas"){
                $(".input-pizza").not("." + optionValue).show();
                $(".input-outros").not("." + optionValue).hide();
            }else if(optionValue == "panquecas"){
                $(".input-outros").not("." + optionValue).show();
                $(".input-pizza").not("." + optionValue).hide();
            }else if(optionValue == "lasanhas"){
                $(".input-outros").not("." + optionValue).show();
                $(".input-pizza").not("." + optionValue).hide();
            }else if(optionValue == "bebidas"){
                $(".input-outros").not("." + optionValue).show();
                $(".input-pizza").not("." + optionValue).hide();
            }else if(optionValue == "calzones"){
                $(".input-outros").not("." + optionValue).show();
                $(".input-pizza").not("." + optionValue).hide();
            }else{
                 $(".box").hide();
                $(".box input-outros").hide();
            }


        });
    }).change();
});

</script>
</head>
<body>

        <div class="wrapper">

            {% include 'partials/navAdmin.twig' %}

            {% block content %}

            {% endblock %}


        </div>


    </body>


</html>
