<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link href="public/css/bootstrap-4.1.min.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="public/css/styleadmin.css">
     <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    </head>
    <body>

        <div class="wrapper">
            {% include 'partials/updateUser.twig' %}
            {% include 'partials/editproduto.twig' %}

            {% include 'partials/editarcardapio.twig'%}
            
            {% include 'partials/navsideBar.twig' %}

            {% block content %}


            {% endblock %}


        </div>
        </div>

    </body>

    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap-4.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
     <script src="public/js/fontawesome.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    $('#editproduto').on('show.bs.modal', function (event) {

          var button = $(event.relatedTarget)
          var iduser = button.data('iduser')
          var name = button.data('name')
          var qt = button.data('qt');
          var valorCompra = button.data('compra')
          var lucro = button.data('lucro')

          var modal = $(this)
    
          modal.find('#id').val(iduser)
          modal.find('#qt').val(qt)
          modal.find('#name').val(name)
          modal.find('#compra').val(valorCompra)
          modal.find('#lucro').val(lucro)
});

 $('#updateUser').on('show.bs.modal', function (event) {

          var button = $(event.relatedTarget)
          var iduuser= button.data('iduser')
          var typeuser = button.data('typeuser')
          var email = button.data('emailuser');
          var modal = $(this)      


          modal.find('#id').val(iduuser)
          modal.find('#email').val(email)
          modal.find('#typeuser').val(typeuser)
});

$('#editarcardapio').on('show.bs.modal', function (event) {

          var button = $(event.relatedTarget)
          var idcard= button.data('cardid')
          var valorcard = button.data('cardvalor')
          var descricaocard = button.data('carddescricao');
          
        for(i = 0; i < descricaocard.length ; i++){
            console.log(descricaocard[i]);
        }
          
          var modal = $(this)      


          modal.find('#idcard').val(idcard)
          modal.find('#valor').val(valorcard)
          modal.find('#descricao').val(descricaocard)
         
});
    </script>

</html>