<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link href="public/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/imagehover.min.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/style.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css">

    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/custom.js"></script>
    <script src="public/js/jquery.easing.min.js"></script>



    </head>
    <body id="bg">

        <div class="container-fluid">
            {% include 'partials/navAdmin.twig' %}
            {% block content %}

              
            {% endblock %}

        </div>

    </body>
</html>
