<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sistema delivery pizza completo para o seu ponto de vendas fast food,Pitzzarias ,Restaurantes , Gerenciamento e fluxo de caixa , Relatórios de contas  a pagar e receber">
        <meta name="keywords" content="pizza,fast food,comida,pizza cocacola,pizza queijo,pizza mista,pizza oregano,tomate,pizza pacatuba-ce">
        <meta name="robots" content="">
        <meta name="revisit-after" content="1 day">
        <meta name="language" content="pt-br">
        <meta name="generator" content="N/A">
        <title>Delivery Pitzza</title>


  
  <link rel="stylesheet" type="text/css" href="public/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="public/css/front-style-materialize.css">



    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/materialize.js"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142447713-1');
    </script>
<script>
    try { var xmlHttp = new XMLHttpRequest(); 
    xmlHttp.open("GET", 'https://manager.people.com.ai/webchat-script/api/peoplechat/f1f6de76-8b94-40b5-ba98-98b0ef90f22e', false);
     xmlHttp.send(null); var response = JSON.parse(xmlHttp.responseText); var scriptElement = document.createElement('script'); eval(response.content.replace(/textToReplace.people/g, "chat.people")); } catch (error) { console.error(error) }
</script>

<script>
$(document).ready(function(){
  $('.sidenav').sidenav();
});

 $(document).ready(function(){
    $('.modal').modal();
  });

$(document).ready(function(){
 $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
});
</script>

    </head>
    <body>
            {% include 'partials/login.twig' %}
            {% include 'partials/nav.twig' %}


            {% block content %} 

            {% endblock %}




    </body>
</html>
