
{% extends 'layout.twig' %}

{% block content %}

<section id="feature" class="section-padding">
    <div class="container">
       <h3 class="text-center">Cardapio</h3>
     <div class="row top">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg" class="img-thumbnail" id="1">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/logincliente" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg" class="img-thumbnail">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/login" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>

         <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg" class="img-thumbnail">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>
      </div>


        <div class="row top">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg" class="img-thumbnail">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg" class="img-thumbnail">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="public/img/pizza1.jpeg" class="img-thumbnail">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
          </div>
        </div>
      </div>
  </section>

  {% endblock %}