
{% extends 'layout.twig' %}

{% block content %}

<section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Meus Servirços</h2>
          <p>Temos as melhores ofertas e serviços para você e a sua empresa ,  desenvolvimos de sistemas web como,
            sites , blogs tambem é possivel adaptar o seu site para  dispositivos movies com responsividade ,   
              inovamos a sua marca deixamos tudo mais atraente e intuitivo</a>
          <hr class="bottom-line">
        </div>
        <div class="feature-info">
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Front-end</h4>
                <p>Front-end com css3 ,html5 e JavaScript</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-css3"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Back-end</h4>
                <p>php mvc e frameworks Slim,Laravel</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-flash"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Banco de dados</h4>
                <p>Mysql , Postgresql e persistência de dados com  Doctrine ORM</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-database"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}