{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-12">

        {% for message in messages %}
      <div class="alert alert-info">
      <li>{{ message[0] }}</li>
  
      </div>
    {% endfor %}
    
        <form action="/addUser" method="post" class="form">
            <div class="form-row">
                <div class="form-group col-md-12">
           
                <label  for="name">Full name *</label>
                <input type="text" name="name" id="name"  class="form-control" required>
            </div>
            <div class="form-group col-md-12">
                <label for="name">Email *</label>
                <input type="text" name="email" id="email" class="form-control" required value="{{session.username}}">

                <label for="name">Password *</label>
                <input type="text" name="senha" id="telefone"  class="form-control" required>

                <label for="name">Repetir Senha *</label>
                <input type="text" name="repetir" id="telefone"  class="form-control" required>
            </div>
            <div class="form-group col-md-12">
            <select name="tipoUser" class="form-control">
                <option value="">User ..........</option>
                <option value="admin">Adminitrador</option>
                <option value="cliente">User</option>
            </select>
            </div>
        </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>

    </div>
</div>


{% endblock %}