{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  <div class="login-box-body">
    {% for message in messages %}
      <div class="alert alert-info">
      <li>{{ message[0] }}</li>
      <li>{{ name[0] }}</li>
      </div>
    {% endfor %}

    {% for name in names %}
      <div class="alert alert-info">
      <li>{{ name[0] }}</li>
      </div>
    {% endfor %}

    <form method="post" action="/insert_bebidas" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="name" placeholder="name" name="name" required="obrigatorio">
    </div>

    <div class="form-group col-md-4"> 
      <input type="date" class="form-control" id="date" placeholder="data" name="date" required="obrigatorio">
    </div>

    <div class="form-group col-md-3">
    </div>

  <div class="form-group col-md-2">
  </div>
</div>

  <div class="form-group">
    <div class="input-group mb-3"2ta
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="url_image" required="obrigatorio">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
</div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" id="input" name="preco_compra" placeholder="preço compra" required="obrigatorio">
    </div>

    <div class="form-group col-md-4">
     
      <select  class="form-control" id="input2" name="porcentagemVenda" required="obrigatorio">
        <option value="">Ecolha A %....</option>
        <option value="5">5%</option>
        <option value="10">10%</option>
        <option value="15">15%</option>
        <option value="20">20%</option>
        <option value="25">25%</option>
        <option value="35">35%</option>
        <option value="40">40%</option>
        <option value="45">45%</option>
        <option value="50">50%</option>
      </select>
    </div> 

  <div class="form-group col-md-4">
    <input type="text" class="form-control" id="qt_dade" name="qt_dade" placeholder="quantidade" required="obrigatorio">
  </div>

    <div class="form-group col-md-12">
      <textarea name="descricao"  class="form-control" id="descricao"  placeholder="descricao"></textarea>
    </div>

</div>
  <button type="submit" class="btn btn-primary" id="click">Cadastrar</button>
  <button type="reset" class="btn btn-success">Reset</button>
</form>
  </div>
</div>
 

{% endblock  %}