
{% extends 'layoutAdmin.twig' %}
{% block content %}
<div class="row container-admin">
	<div class="col s12 m4 l3">
		<h4 >Notificações</h4>
    <p id="demo" class="blue-text darken-1">
    Publish an event to channel <code>my-channel</code>
    with event name <code>my-event</code>; it will appear below:
  </p>


	</div>

<div class="col s12 m2 l2">
	<div class="card" id="user">
        <div class="card-image left" id="user">
        <a href="/listaruser">
        <i class="material-icons large  green-text text-darken-5">people_outline</i>
        </a>

        </div>
        <div class="card-content">
             <span class="card-title black-text text-darken-5"><h5>Usuarios</h5></span>       
        </div>
    </div>

</div>
<div class="col s12 m2 l2">
	<div class="card" id="user">
        <div class="card-image left" id="user">
            <a href="/viewlistar">
                <i class="material-icons large  orange-text text-darken-5">local_pizza</i>
            </a>

        </div>
        <div class="card-content">
           <span class="card-title black-text text-darken-5"><h5>Cardapio</h5></span>
        </div>
    </div>

</div>
<div class="col s12 m2 l2">
	<div class="card" id="user">
        <div class="card-image left" id="user">
            <a href="/produtos">
            <i class="material-icons large">add_shopping_cart</i>
            </a>

        </div>
        <div class="card-content">
           <span class="card-title black-text text-darken-5"><h5>Produtos</h5></span>
        </div>
    </div>

</div>
</div>


{% endblock %}
