
{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
<div class="row">
	<div class="col s12 text-center">

		<a href="/listaruser"><img src="public/img/users/userpizza.png" class="img-thumbnail"></i></a>

		<p class="text-white font-weight-lighter text-center">
		{% for message in messages %}

			<li>{{message[0]}}</li>

		{% endfor %}
		
		</p>
	</div>
	
</div>
</div>


{% endblock %}
