
{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
<div class="row">
	<div class="col-sm-2 badge-warning text-center">
		<a href="/listaruser"> <i class="icon ion-md-person text-dark"></i></a>
		<p class="text-white font-weight-lighter text-center">{{ users|length }}</p>
	</div>
	
</div>
</div>


{% endblock %}
