
{% extends 'layoutAdmin.twig' %}

{% block content %}

{% for user in users %}
    
 
 {{ user.typeuser}}

        
   
    {% endfor %}

<div class="container">
<div class="row">
	<div class="col-sm-2">
		<a href="/listaruser"><img src="public/img/user.png" class="img-fluid" alt="Responsive image" title="listaruser"></a>
		<p class="text-success font-weight-lighter text-center">{{session.nome}}</p>
	</div>
	
</div>
</div>


{% endblock %}
