{% extends 'layout.twig' %}

{% block content %}



<div class="container">
    <div class="login-box-body">

      {% for message in messages %}
        <div class="alert alert-danger">
        <li>{{ message[0] }}</li>
        </div>
      {% endfor %}


            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group">
              <form name="" id="loginForm" action="/login" method="post">

                <div class="form-group has-feedback">
                  <!----- username -------------->
                  <input class="form-control" placeholder="E-mail" id="loginid" type="email" autocomplete="off" name="email" value=""/>
                </div>

                <div class="form-group has-feedback">
                  <!----- password -------------->
                  <input class="form-control" placeholder="Password" id="loginpsw" type="password" autocomplete="off" name="senha"/>

                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="checkbox icheck">
                      <label>
                          <a href="">Não sou Cadastrado</a> <a href="">Recuperar senha</a>
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <input type="submit" class="btn btn-green btn-block btn-flat" value="Sign In">

                  </div>
                </div>
              </form>
            </div>
          </div>

     
    </div>
  </div>

{% endblock  %}