{% extends 'homecliente/layoutCliente.twig' %}

{% block content %}
<div class="container">
  <h3 class="text-center">Cardapio</h3>
<div class="row">
{% for item in lista %}
<div class="col s6 m4" >
              <div class="card">
                <div class="card-image">
                <img src="{{item.urlimg}}" class="card-img img1">
                <span class="card-title">{{item.nomesabor}} {{item.valor}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
                <div class="card-content">
                <p>{{item.descricao}}</p>
              </div>
              </div>
      </div>
{% endfor %}
</div>
{% endblock %}



    
    