{% extends 'homecliente/layoutCliente.twig' %}

{% block content %}
<h2>lista de cardapio</h2>
   

<form>
First name: <input type="text" onkeyup="showHint(this.value)">
</form>
<p>Suggestions: <span id="txtHint"></span></p>

{% endblock %}



    
    