<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link href="public/css/bootstrap-4.1.min.css" type="text/css" rel="stylesheet"/>
    <link href="public/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="public/css/styleadmin.css">
     <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    </head>
    <body>

        <div class="wrapper">
            {% include 'partials/updateUser.twig' %}
        	
            {% include 'partials/navsideBarCliente.twig' %}
           
            {% block content %}

              
            {% endblock %}

       
        </div>
        </div>
      
    </body>
    
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap-4.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
     <script src="public/js/fontawesome.js"></script>
     
    

   
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    
</html>
