{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container" style="margin-top:50px;">
   <h4 class=" grey-text lighten-5">New Cardapio</h4>
  <div class="login-box-body">
    {% for message in messages %}
      <div class="alert alert-info">
      <li>{{ message[0] }}</li>
  
      </div>
    {% endfor %}

   

    <form method="post" action="/insert" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-7">
      <input type="text" class="form-control" id="name" placeholder="name" name="nomesabor" required="obrigatorio">
    </div>
    <div class="form-group col-md-2">
      <select class="form-control" name="tamanho">
          <option value=""></option>
          <option value="M">Media</option>
          <option value="G">Grande</option>
      </select>
    </div>

</div>

  
</div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" id="input" name="valor" placeholder="valor" required="obrigatorio">
    </div>  

  <div class="form-group col-md-4">
    <input class="form-control" type="file" name="urlimg" required="obrigatorio">
  </div>

    <div class="form-group col-md-10">
      <textarea name="descricao"  class="form-control" id="descricao"  placeholder="descricao"></textarea>
    </div>

</div>
  <button type="submit" class="btn teal darken-1" id="click">Cadastrar
     <i class="material-icons white-text darken-1 right">send</i>
  </button>


  <button type="reset" class="btn  teal darken-1">Reset
    <i class="material-icons white-text darken-1 right">clear</i>
  </button>
</form>
  </div>
</div>
 

{% endblock  %}