{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="container" style="margin-top:50px;">
  <div class="row">
     <h4  class="grey-text lighten-5">New Cardapio</h4>
      <div class="col s12 m12 19">
        {% for message in messages %}
          <div class="card-panel teal lighten-2 white-text">
         {{ message[0] }}
        {% endfor %}
      </div>
    </div>
   

    <form method="post" action="/insert" enctype="multipart/form-data" novalidate>
     
    <div class="row">
      <div class="input-field col s12 m4 l4 ">
      <input type="text" name="nomesabor" class="validate" id="nomesabor" required="obrigatorio">
        <label for="nomesabor">Nome sabor</label>
      </div>

       <div class="input-field col s6 m4 l4 box input-pizza">
      <input type="text"  id="valorM" name="valorM" class="validate" required="obrigatorio">
       <label for="valor">Valor pizza média</label>
    </div>  

    <div class="input-field col s6 m4 l4 box input-pizza">
      <input type="text"  id="valorG" name="valorG" class="validate" required="obrigatorio">
       <label for="valor">Valor pizza grande</label>
    </div>

    <div class="input-field col s6 m4 l8 box input-outros">
      <input type="text"  id="valor" name="valor" class="validate" required="obrigatorio">
       <label for="valor">Valor</label>
    </div> 
    </div>

    <div class="row">
      <div class="input=field col s12 m4 l4">
        Categoria:
      <select class="form-control" name="categoria_id" placeholer="categoria"  id="id_do_select">
        <!--AQUI FOREACH ALL CATEGORIAS-->
          <option value="" disabled selected></option>
          {% for categoria in categorias %}
          <option value="{{categoria.id}}">{{categoria.categoria}}</option>
          {% endfor %}
      </select>

    </div>

    <div class="row">
  <div class="file-field input-field">
    <br>
    <div class="btn">
      <span>File</span>
      <input type="file" name="urlimg">
    </div>
    <div class="file-path-wrapper">
    <input class="file-path validate" type="text">
    </div>

  </div>
</div>
  </div>
     <div class="row">
        <div class="input-field col s12">
           
        <textarea id="textarea" class="materialize-textarea" name="descricao" required=""></textarea>
          <label for="textarea">Descrição</label>
        </div>
      </div>

  <div class="row">
    <div class="col s12 md 12">
    <button type="submit" class="btn teal darken-1 btn-small" name="submit">Cadastrar
       <i class="material-icons white-text darken-1 right">send</i>
    </button>


    <button type="reset" class="btn  teal darken-1 btn-small">Reset
      <i class="material-icons white-text darken-1 right">clear</i>
    </button>
</div>
</div>
</form>
  </div>
</div>


{% endblock  %}