{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  <div class="login-box-body">
    {% for message in messages %}
      <div class="alert alert-info">
      <li>{{ message[0] }}</li>
  
      </div>
    {% endfor %}

   

    <form method="post" action="/insertbebidas" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="name" placeholder="name" name="name" required="obrigatorio">
    </div>

    <div class="form-group col-md-4"> 
      <input type="date" class="form-control" id="date" placeholder="data" name="date" required="obrigatorio">
    </div>

    <div class="form-group col-md-3">
    </div>

  <div class="form-group col-md-2">
  </div>
</div>

  
</div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" id="input" name="valor" placeholder="valor" required="obrigatorio">
    </div>

    <div class="form-group col-md-4">
     
      <select  class="form-control" id="input2" name="idproduto" required="obrigatorio">
          {% for  produto in produtos %}
            <option value="">select o produto</option>
            <option value="{{ produto.id }}">{{ produto.name }}</option>
          {% endfor %}
      </select>
    </div> 

  <div class="form-group col-md-4">
    <input type="file" name="imgcardapio" required="obrigatorio">
  </div>

    <div class="form-group col-md-12">
      <textarea name="descricao"  class="form-control" id="descricao"  placeholder="descricao"></textarea>
    </div>

</div>
  <button type="submit" class="btn btn-primary" id="click">Cadastrar</button>
  <button type="reset" class="btn btn-success">Reset</button>
</form>
  </div>
</div>
 

{% endblock  %}