{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="">
  <div class="row card-panel">
    <div class="col s12 m12 l12 ">
<table  style="margin-top:50px;">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
<tbody>
{% for card in card %}
  <tr>
    <td>{{card.nomesabor}}</td>
    <td>
    <a href="/listarid?id={{card.id}}" class="waves-effect waves-light green-text darken-4">Edit
    <i class="material-icons left">edit_attributes</i>
    </a>
    <a href="/excluir?urlimg={{card.urlimg}}" class="waves-effect waves-light  orange-text darken-4">Excluir
    <i class="material-icons orange-text darken-4 left">restore_from_trash</i>
    </a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>

{% endblock  %}