{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="container">
<div class="row">
  <div class='col s12 m10 l12'>
  <table id='example' class='mdl-data-table  striped'>
      <thead>
        <tr>
          <th scope='col'>Id</th>
          <th scope='col'>Sabor</th>
        </tr>
      </thead>
  <tbody>
    {% for pizza in pizzas %}
    <tr>
       <td>{{pizza.id}}</td>
       <td>{{pizza.nomesabor}}</td>
       <td>
       <a href='#' class='waves-effect waves-light green-text darken-4 large'>
       <i class='material-icons left'>edit_attributes</i>
       </a>
       <a href="/excluircategoria/{{pizza.id}}"  class='waves-effect waves-light  orange-text darken-4'>
       <i class='material-icons orange-text darken-4 left'>restore_from_trash</i>
       </a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>


{% endblock  %}
