{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="">
<div class="row">

  <form action="" class="form-index"> 
  <div class="row">
  <div class="col s8 m10 l6">
    <div class="col s8 m0 l8">
    <select name="codigo" onchange='editcardapio(this.value)'>
    <option value="" disabled selected>Selecione Cardapio</option>
    <option value="pizzas">Pizzas</option>
    <option value="calzones">Calzones</option>
    <option value="lasanhas">Lasanhas</option>
    <option value="refrigerenates">Refrigerenates</option>
    
    </select>
  </div>
</div>
</div>
</form>

<p id="txtHint">

</p>
<p id="pizzaid"></p>
</div>
</div>


{% endblock  %}